@import "../../../../assets/scss/light_material_override.scss";
@import "../../../../assets/scss/chips.scss";
.banner {
  width: 100vw;
  margin-top: 90px;
  height: 20vh;
  position: relative;
  &.noImg{
    background-image: url('../../../../assets/images/catalogue/unknown.jpg');
  }
}

@media (max-height: 449px) {
  .banner {
    margin-top: 50px;
  }
}
:host ::ng-deep p-dropdown > div {
  width: 100%;
}

.inputPill {
  border:0;
  border-bottom: 1px solid $lightGray;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  &:focus {
    border-bottom: 1px solid $lightYellow;
    outline: none;
  }
}
.consumptionLabel{
  left: 4.75rem;
  font-size: 0.875rem;
}

:host ::ng-deep p-dropdown.specs {
  .ui-dropdown {
    background: 0;
    border: 0;
    .ui-dropdown-trigger {
      background: 0;
    }
    .ui-inputtext {
      background: 0;
    }
  }
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background: $lightYellow;

}

:host ::ng-deep .mat-vertical-stepper-header {
  border-bottom: 2px solid lighten($color: $yellow, $amount: 20%);
  background: lighten($color: #f7fafc, $amount: 2%);
  border-radius: 6px;
  margin: 0.25rem 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
:host ::ng-deep .ui-dialog .ui-dialog-content {
  overflow: auto;
}
