<p-dialog styleClass="policy-dialog" header="Privacy Policy" closeOnEscape="true" dismissableMask="true" [(visible)]="displayDlgPolicy" position="top" [modal]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <div class="flex flex-col p-2">
    <div *ngIf="translate.currentLang == 'en'">
      <strong class="font-oswald text-xl">Privacy Policy</strong>
      <p class="font-mw p-2">
        K.V. built the Buy'n'Roll app as
        a Commercial app. This SERVICE is provided by
        K.V. and is intended for use as
        is.
      </p>
      <p class="font-mw p-2">
        This page is used to inform visitors regarding my
        policies with the collection, use, and disclosure of Personal
        Information if anyone decided to use my Service.
      </p>
      <p class="font-mw p-2">
        If you choose to use my Service, then you agree to
        the collection and use of information in relation to this
        policy. The Personal Information that I collect is
        used for providing and improving the Service. I will not use or share your information with
        anyone except as described in this Privacy Policy.
      </p>
      <p class="font-mw p-2">
        The terms used in this Privacy Policy have the same meanings
        as in our Terms and Conditions, which is accessible at
        Buy'n'Roll unless otherwise defined in this Privacy Policy.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Information Collection and Use</strong></p>
      <p class="font-mw p-2">
        For a better experience, while using our Service, I
        may require you to provide us with certain personally
        identifiable information, including but not limited to email, phone number, location, first name, last name. The information that
        I request will be retained on your device and is not collected by me in any way.
      </p>
      <!---->
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Log Data</strong></p>
      <p class="font-mw p-2">
        I want to inform you that whenever you
        use my Service, in a case of an error in the app
        I collect data and information (through third party
        products) on your phone called Log Data. This Log Data may
        include information such as your device Internet Protocol
        (“IP”) address, device name, operating system version, the
        configuration of the app when utilizing my Service,
        the time and date of your use of the Service, and other
        statistics.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Cookies</strong></p>
      <p class="font-mw p-2">
        Cookies are files with a small amount of data that are
        commonly used as anonymous unique identifiers. These are sent
        to your browser from the websites that you visit and are
        stored on your device's internal memory.
      </p>
      <p class="font-mw p-2">
        This Service does not use these “cookies” explicitly. However,
        the app may use third party code and libraries that use
        “cookies” to collect information and improve their services.
        You have the option to either accept or refuse these cookies
        and know when a cookie is being sent to your device. If you
        choose to refuse our cookies, you may not be able to use some
        portions of this Service.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Service Providers</strong></p>
      <p class="font-mw p-2">
        I may employ third-party companies and
        individuals due to the following reasons:
      </p>
      <ul>
        <li>To facilitate our Service;</li>
        <li>To provide the Service on our behalf;</li>
        <li>To perform Service-related services; or</li>
        <li>To assist us in analyzing how our Service is used.</li>
      </ul>
      <p class="font-mw p-2">
        I want to inform users of this Service
        that these third parties have access to your Personal
        Information. The reason is to perform the tasks assigned to
        them on our behalf. However, they are obligated not to
        disclose or use the information for any other purpose.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Security</strong></p>
      <p class="font-mw p-2">
        I value your trust in providing us your
        Personal Information, thus we are striving to use commercially
        acceptable means of protecting it. But remember that no method
        of transmission over the internet, or method of electronic
        storage is 100% secure and reliable, and I cannot
        guarantee its absolute security.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Links to Other Sites</strong></p>
      <p class="font-mw p-2">
        This Service may contain links to other sites. If you click on
        a third-party link, you will be directed to that site. Note
        that these external sites are not operated by me.
        Therefore, I strongly advise you to review the
        Privacy Policy of these websites. I have
        no control over and assume no responsibility for the content,
        privacy policies, or practices of any third-party sites or
        services.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Children’s Privacy</strong></p>
      <p class="font-mw p-2">
        These Services do not address anyone under the age of 13.
        I do not knowingly collect personally
        identifiable information from children under 13. In the case
        I discover that a child under 13 has provided
        me with personal information, I immediately
        delete this from our servers. If you are a parent or guardian
        and you are aware that your child has provided us with
        personal information, please contact me so that
        I will be able to do necessary actions.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Changes to This Privacy Policy</strong></p>
      <p class="font-mw p-2">
        I may update our Privacy Policy from
        time to time. Thus, you are advised to review this page
        periodically for any changes. I will
        notify you of any changes by posting the new Privacy Policy on
        this page.
      </p>
      <p class="font-mw p-2">This policy is effective as of 09. 07. 2020.</p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Contact Us</strong></p>
      <p class="font-mw p-2">
        If you have any questions or suggestions about my
        Privacy Policy, do not hesitate to contact me at buy.n.roll@gmail.com.
      </p>
    </div>
    <div *ngIf="translate.currentLang == 'hr'">
      <strong class="font-oswald text-xl">Pravila o privatnosti</strong>
      <p class="font-mw p-2">
        K.V. je sagradio aplikaciju Buy'n'Roll kao
        komercijalna aplikacija. Ovu uslugu pruža tvrtka
        K.V. i namijenjen je za upotrebu kao
        je.
      </p>
      <p class="font-mw p-2">
        Ova stranica se koristi za informiranje posjetitelja o mom
        pravila o prikupljanju, uporabi i otkrivanju Osobnog
        Informacije ako se netko odlučio poslužiti mojom Uslugom.
      </p>
      <p class="font-mw p-2">
        Ako odlučite koristiti moju uslugu, tada pristajete
        prikupljanje i korištenje informacija u vezi s tim
        politika. Osobni podaci koje prikupljam jesu
        koristi se za pružanje i poboljšanje usluge. Neću koristiti ili dijeliti vaše podatke s
        bilo tko osim kako je opisano u ovim Pravilima o privatnosti.
      </p>
      <p class="font-mw p-2">
        Izrazi korišteni u ovoj politici privatnosti imaju isto značenje
        kao u našim Uvjetima i odredbama koji su dostupni na
        Buy'n'Roll osim ako je drugačije određeno u ovim Pravilima o privatnosti.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Prikupljanje i uporaba podataka</strong></p>
      <p class="font-mw p-2">
        Za bolje iskustvo, koristeći našu uslugu, ja
        može zahtijevati da nam ih osobno dostavite
        informacije koje se mogu prepoznati, uključujući, ali ne ograničavajući se na e-poštu, telefonski broj, lokaciju, ime i prezime. Informacije koje
        Tražit ću da se zadrži na vašem uređaju i mene ni na koji način ne prikuplja.
      </p>
      <!---->
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Zapisivanje Podataka</strong></p>
      <p class="font-mw p-2">
        Želim vas obavijestiti kad god
        koristite moju uslugu u slučaju pogreške u aplikaciji
        Prikupljam podatke i informacije (preko treće strane
        proizvoda) na vašem telefonu pod nazivom Podaci podataka. Ovi podaci dnevnika mogu
        uključuju informacije poput internetskog protokola uređaja
        ("IP") adresa, naziv uređaja, verzija operativnog sustava,
        konfiguracija aplikacije prilikom korištenja moje usluge,
        vrijeme i datum vaše upotrebe Usluge i ostalo
        statistika.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Kolačići</strong></p>
      <p class="font-mw p-2">
        Kolačići su datoteke s malom količinom podataka
        često se koristi kao anonimni jedinstveni identifikator. Ovi su poslani
        na vaš preglednik s web stranica koje posjetite i koja su
        pohranjeni u unutarnjoj memoriji uređaja.
      </p>
      <p class="font-mw p-2">
        Ova usluga ove "kolačiće" ne koristi izričito. Međutim,
        aplikacija može koristiti kôd treće strane i biblioteke koje koriste
        "Kolačiće" za prikupljanje informacija i poboljšanje njihovih usluga.
        Imate mogućnost prihvaćanja ili odbijanja ovih kolačića
        i znati kada se kolačić šalje na vaš uređaj. Ako ti
        odlučite li odbiti naše kolačiće, možda ih nećete moći koristiti
        dijelovi ove usluge.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Pružatelji usluga</strong></p>
      <p class="font-mw p-2">
        Mogu zaposliti tvrtke treće strane i
        pojedinci iz slijedećih razloga:
      </p>
      <ul>
        <li>Da bismo olakšali našu uslugu</li>
        <li>Pružiti Uslugu u naše ime</li>
        <li>Obavljanje usluga vezanih uz usluge</li>
        <li>Da bismo nam pomogli u analizi načina korištenja naše usluge.</li>
      </ul>
      <p class="font-mw p-2">
        Želim obavijestiti korisnike ove usluge
        da ove treće strane imaju pristup vašoj Osobnoj
        Informacija. Razlog je izvršavanje zadataka koji su im dodijeljeni
        njih u naše ime. Međutim, oni su dužni da to ne urade
        otkriti ili koristiti informacije za bilo koju drugu svrhu.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Sigurnost</strong></p>
      <p class="font-mw p-2">
        Cijenim vaše povjerenje u pružanju vašeg
        Osobni podaci stoga nastojimo komercijalno koristiti
        prihvatljiva sredstva zaštite. Ali zapamtite da nijedna metoda
        prijenosa putem Interneta ili elektroničke metode
        pohrana je 100% sigurna i pouzdana, a ne mogu
        jamčiti njegovu apsolutnu sigurnost.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Poveznice na druge web lokacije</strong></p>
      <p class="font-mw p-2">
        Ova usluga može sadržavati veze na druge stranice. Ako kliknete na
        veza treće strane, bit ćete preusmjereni na tu web lokaciju. Bilješka
        da ja tim vanjskim mjestima ne upravljam.
        Zbog toga vam toplo savjetujem da to pregledate
        Politika privatnosti ovih web stranica. imam
        nema kontrole nad i ne preuzimate nikakvu odgovornost za sadržaj,
        pravila o privatnosti ili prakse bilo koje web stranice treće strane ili
        usluge.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Dječja privatnost</strong></p>
      <p class="font-mw p-2">
        Te se usluge ne obraćaju osobama mlađim od 13 godina.
        Osobno ne svjesno skupljam
        informacije koje se mogu prepoznati od djece mlađe od 13 godina
        Otkrivam da se dijete mlađe od 13 godina osiguralo
        mene s osobnim podacima, odmah
        obrišite ovo s naših poslužitelja. Ako ste roditelj ili skrbnik
        i svjesni ste da nas je opskrbio vašim djetetom
        osobne podatke, kontaktirajte me tako da
        Moći ću poduzeti potrebne radnje.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Promjene u ovim Pravilima o privatnosti</strong></p>
      <p class="font-mw p-2">
        Mogu ažurirati našu Politiku privatnosti od
        S vremena na vrijeme. Stoga se savjetuje da pregledate ovu stranicu
        periodično za bilo kakve promjene. hoću
        obavijestiti vas o svim promjenama objavljivanjem nove Politike privatnosti na
        ova stranica.
      </p>
      <p class="font-mw p-2">Ova politika stupa na snagu 09. 07. 2020.</p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Kontaktirajte nas</strong></p>
      <p class="font-mw p-2">
        Ako imate bilo kakvih pitanja ili prijedloga vezano za
        Pravila o privatnosti, ne ustručavajte se kontaktirati me na buy.n.roll@gmail.com.
      </p>
    </div>
  </div>
</p-dialog>


<p-dialog styleClass="policy-dialog" header="Privacy Policy" closeOnEscape="true" dismissableMask="true" [(visible)]="displayDlgTerms" position="top" [modal]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <div class="flex flex-col p-2">
    <div *ngIf="translate.currentLang == 'en'">
      <strong class="font-oswald text-xl">Terms &amp; Conditions</strong>
      <p class="font-mw p-2">
        By downloading or using the app, these terms will
        automatically apply to you – you should make sure therefore
        that you read them carefully before using the app. You’re not
        allowed to copy, or modify the app, any part of the app, or
        our trademarks in any way. You’re not allowed to attempt to
        extract the source code of the app, and you also shouldn’t try
        to translate the app into other languages, or make derivative
        versions. The app itself, and all the trade marks, copyright,
        database rights and other intellectual property rights related
        to it, still belong to K.V..
      </p>
      <p class="font-mw p-2">
        K.V. is committed to ensuring that the app is
        as useful and efficient as possible. For that reason, we
        reserve the right to make changes to the app or to charge for
        its services, at any time and for any reason. We will never
        charge you for the app or its services without making it very
        clear to you exactly what you’re paying for.
      </p>
      <p class="font-mw p-2">
        The Buy'n'Roll app stores and processes personal data that
        you have provided to us, in order to provide my
        Service. It’s your responsibility to keep your phone and
        access to the app secure. We therefore recommend that you do
        not jailbreak or root your phone, which is the process of
        removing software restrictions and limitations imposed by the
        official operating system of your device. It could make your
        phone vulnerable to malware/viruses/malicious programs,
        compromise your phone’s security features and it could mean
        that the Buy'n'Roll app won’t work properly or at all.
      </p>
      <!---->
      <p class="font-mw p-2">
        You should be aware that there are certain things that
        K.V. will not take responsibility for. Certain
        functions of the app will require the app to have an active
        internet connection. The connection can be Wi-Fi, or provided
        by your mobile network provider, but K.V.
        cannot take responsibility for the app not working at full
        functionality if you don’t have access to Wi-Fi, and you don’t
        have any of your data allowance left.
      </p>
      <p class="font-mw p-2"></p>
      <p class="font-mw p-2">
        If you’re using the app outside of an area with Wi-Fi, you
        should remember that your terms of the agreement with your
        mobile network provider will still apply. As a result, you may
        be charged by your mobile provider for the cost of data for
        the duration of the connection while accessing the app, or
        other third party charges. In using the app, you’re accepting
        responsibility for any such charges, including roaming data
        charges if you use the app outside of your home territory
        (i.e. region or country) without turning off data roaming. If
        you are not the bill payer for the device on which you’re
        using the app, please be aware that we assume that you have
        received permission from the bill payer for using the app.
      </p>
      <p class="font-mw p-2">
        Along the same lines, K.V. cannot always take
        responsibility for the way you use the app i.e. You need to
        make sure that your device stays charged – if it runs out of
        battery and you can’t turn it on to avail the Service,
        K.V. cannot accept responsibility.
      </p>
      <p class="font-mw p-2">
        With respect to kv’s responsibility for your
        use of the app, when you’re using the app, it’s important to
        bear in mind that although we endeavour to ensure that it is
        updated and correct at all times, we do rely on third parties
        to provide information to us so that we can make it available
        to you. K.V. accepts no liability for any
        loss, direct or indirect, you experience as a result of
        relying wholly on this functionality of the app.
      </p>
      <p class="font-mw p-2">
        At some point, we may wish to update the app. The app is
        currently available on – the requirements for
        system(and for any additional systems we
        decide to extend the availability of the app to) may change,
        and you’ll need to download the updates if you want to keep
        using the app. K.V. does not promise that it
        will always update the app so that it is relevant to you
        and/or works with the version that you have
        installed on your device. However, you promise to always
        accept updates to the application when offered to you, We may
        also wish to stop providing the app, and may terminate use of
        it at any time without giving notice of termination to you.
        Unless we tell you otherwise, upon any termination, (a) the
        rights and licenses granted to you in these terms will end;
        (b) you must stop using the app, and (if needed) delete it
        from your device.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Changes to This Terms and Conditions</strong></p>
      <p class="font-mw p-2">
        I may update our Terms and Conditions
        from time to time. Thus, you are advised to review this page
        periodically for any changes. I will
        notify you of any changes by posting the new Terms and
        Conditions on this page.
      </p>
      <p class="font-mw p-2">
        These terms and conditions are effective as of 2020-07-09
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Contact Us</strong></p>
      <p class="font-mw p-2">
        If you have any questions or suggestions about my
        Terms and Conditions, do not hesitate to contact me
        at buy.n.roll@gmail.com.
      </p>
    </div>
    <div *ngIf="translate.currentLang == 'hr'">
      <strong class="font-oswald text-xl">Uvjeti i odredbe</strong>
      <p class="font-mw p-2">
        Preuzimanjem ili upotrebom aplikacije ovi uvjeti će se
        automatski se odnosi na vas - u to biste se trebali uvjeriti
        da ste ih pažljivo pročitali prije upotrebe aplikacije. Ti nisi
        smiju kopirati ili mijenjati bilo koji dio aplikacije ili
        naše zaštitne znakove na bilo koji način. Ne možete vam pokušati
        izdvojite izvorni kod aplikacije, a također ne biste trebali pokušavati
        prevesti aplikaciju na druge jezike ili napraviti izvedenicu
        verzije. Sama aplikacija, i svi zaštitni znakovi, autorska prava,
        prava baze podataka i ostala povezana prava intelektualnog vlasništva
        njemu, još uvijek pripadaju K.V..
      </p>
      <p class="font-mw p-2">
        K.V. je posvećen tome da osigura da je aplikacija
        što je korisnije i efikasnije. Iz tog razloga mi
        zadržava pravo izmjene aplikacije ili plaćanja naknade
        svoje usluge, u bilo koje vrijeme i iz bilo kojeg razloga. Nikada nećemo
        naplaćuju vam aplikaciju ili njene usluge bez da je napravite vrlo
        jasno vam je za što točno plaćate.
      </p>
      <p class="font-mw p-2">
        Aplikacija Buy'n'Roll pohranjuje i obrađuje osobne podatke koji
        koju ste nam pružili, kako biste pružili moju
        Servis. Vaša je odgovornost da čuvate telefon i
        pristup aplikaciji siguran. Stoga vam preporučamo da to učinite
        a ne bjekstvo iz zatvora ili korijen telefona, što je i postupak
        uklanjanje softverskih ograničenja i ograničenja koja postavlja
        službeni operativni sustav vašeg uređaja. To bi moglo učiniti tvoje
        telefon ranjiv na zlonamjerni softver / viruse / zlonamjerne programe,
        ugroziti sigurnosne značajke telefona i to može značiti
        da aplikacija Buy'n'Roll neće raditi ispravno ili uopće.
      </p>
      <!---->
      <p class="font-mw p-2">
        Trebali biste biti svjesni da postoje određene stvari koje
        K.V. neće preuzeti odgovornost za. siguran
        funkcije aplikacije zahtijevat će da aplikacija bude aktivna
        priključak za internet. Veza može biti Wi-Fi ili pružena
        od vašeg davatelja mobilnih mreža, ali K.V.
        ne mogu preuzeti odgovornost za to da aplikacija ne radi u potpunosti
        ako nemate pristup Wi-Fi-u, a nemate
        preostali bilo koji dodatak za vaše podatke
      </p>
      <p class="font-mw p-2"></p>
      <p class="font-mw p-2">
        Ako aplikaciju upotrebljavate izvan područja s Wi-Fi-jem, vi
        treba imati na umu da su vaši uvjeti sporazuma s vašim
        davatelj mobilne mreže i dalje će se primjenjivati. Kao rezultat toga, možete
        naplatit će vam vaš mobilni davatelj za cijenu podataka za
        trajanje veze tijekom pristupa aplikaciji ili
        troškovi drugih strana. Korištenjem aplikacije prihvaćate
        odgovornost za bilo koje takve troškove, uključujući podatke o roamingu
        Naplaćujete ako aplikaciju koristite izvan svog matičnog područja
        (tj. regija ili država) bez isključivanja roaminga podataka. Ako
        niste korisnik računa za uređaj na kojem ste
        pomoću aplikacije imajte na umu da pretpostavljamo da imate
        dobio je dopuštenje platitelja računa za upotrebu aplikacije.
      </p>
      <p class="font-mw p-2">
        Uz iste crte K.V. ne mogu uvijek uzeti
        odgovornost za način na koji koristite aplikaciju, tj. Trebate
        provjerite ostaje li vaš uređaj napunjen - ako ga ponestane
        bateriju i ne možete je uključiti da biste iskoristili uslugu,
        K.V. ne mogu prihvatiti odgovornost.
      </p>
      <p class="font-mw p-2">
        S obzirom na kv odgovornost za vas
        upotrebu aplikacije, kad je upotrebljavate, važno je
        imajte na umu da, iako se trudimo da to osiguramo
        ažurirani i ispravljeni u svakom trenutku, mi se oslanjamo na treće strane
        da nam daju informacije kako bismo ih učinili dostupnima
        tebi. K.V. ne preuzima nikakvu odgovornost za bilo koju
        gubitak, izravan ili neizravan, koji doživljavate kao rezultat
        oslanjajući se u potpunosti na ovu funkcionalnost aplikacije.
      </p>
      <p class="font-mw p-2">
        U nekom ćemo trenutku možda htjeti ažurirati aplikaciju. Aplikacija je
        trenutno dostupno na - zahtjeve za
        sustav (a za sve dodatne sustave mi
        odlučite proširiti dostupnost aplikacije na) može se promijeniti,
        i morat ćete preuzeti ažuriranja ako želite zadržati
        pomoću aplikacije. K.V. ne obećava da će
        uvijek će ažurirati aplikaciju tako da je ona relevantna za vas
        i / ili radi s inačicom koju imate
        instaliran na vašem uređaju. Međutim, obećaješ uvijek
        prihvatimo ažuriranja aplikacije kada vam se ponude, možda ćemo
        također žele prestati pružati aplikaciju i mogu prekinuti upotrebu
        u bilo kojem trenutku bez da vam otkaže otkaz.
        Ako vam ne kažemo drugačije, po bilo kojem raskidu, (a)
        prava i licence date u ovim uvjetima prestaju;
        (b) morate prestati koristiti aplikaciju i (ako je potrebno) izbrisati je
        s vašeg uređaja.
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Promjene ovih Uvjeta i odredaba</strong></p>
      <p class="font-mw p-2">
        Mogu ažurirati naše Uvjete i odredbe
        s vremena na vrijeme. Stoga se savjetuje da pregledate ovu stranicu
        periodično za bilo kakve promjene. hoću
        obavijestiti vas o svim promjenama objavljivanjem novih Uvjeta i
        Uvjeti na ovoj stranici.
      </p>
      <p class="font-mw p-2">
        Ovi uvjeti stupaju na snagu od 2020.-07
      </p>
      <p class="font-mw p-2"><strong class="font-oswald text-xl">Contact Us</strong></p>
      <p class="font-mw p-2">
        Ako imate bilo kakvih pitanja ili prijedloga o mom
        Uvjeti i odredbe, ne ustručavajte se kontaktirati me
        na buy.n.roll@gmail.com.
      </p>
    </div>
  </div>
</p-dialog>