@import "../../assets/scss/light_material_override.scss";

.banner {
  width: 100vw;
  margin-top: 90px;
  background-image: url("../../assets/images/login/login.jpg");
  background-size: cover;
  background-position: bottom;
  height: 20vh;
  position: relative;
}

.wrap {
  height: calc(80vh - 100px);
}
