@import "../../assets/scss/light_material_override.scss";
@import "../../variables.scss";

.banner {
  width: 100vw;
  margin-top: 90px;
  background-image: url("../../assets/images/login/login.jpg");
  background-size: cover;
  background-position: bottom;
  height: 20vh;
  position: relative;
}

:host ::ng-deep .mat-vertical-stepper-header {
  border-bottom: 2px solid lighten($color: $yellow, $amount: 20%);
  background: lighten($color: #f7fafc, $amount: 2%);
  border-radius: 6px;
  margin: 0.25rem 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
:host ::ng-deep .ui-dialog .ui-dialog-content {
  overflow: auto;
}
:host ::ng-deep ngx-image-uploader {
  // width: 200px!important;
  // height: 100px!important;
  button {
    p:not(:first-child) {
      display: none;
    }
  }
  .image-container {
    border-radius: 50%;
    .add-image-btn {
      transition: all 0.3s ease;
    }
    .add-image-btn:hover {
      border-radius: 50%;
    }
  }
}
