/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/luna-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
// @import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "./variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
  background-color: #fff;
  // background-position: center;
  // background-attachment: fixed;
  overflow: overlay;
  overflow-x: hidden;
  width: 100vw !important;
  height: 100vh !important;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@-ms-viewport {
  width: device-width;
}

html,
body {
  // overflow-x:hidden;
  scroll-behavior: smooth;
}

// div:after {
//   clear: both;
//   margin: 0;
//   padding: 0;
//   display: table;
//   font-size: 0;
//   line-height: 0;
//   content: " ";
//   visibility: hidden;
//   overflow: hidden;
// }
div {
  zoom: 1;
}

// * {
//   outline: 1px solid red;
// }

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6e6e6e;
}

::-webkit-scrollbar-track {
  background: #494b4d;
}

.transparent {
  background-color: #393f4dbd !important;
}

.mx {
  height: 100%;
}
.cp {
  cursor: pointer;
}
.np {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding: 0;
}

.divider {
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 1px;
}

.div-light:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    $silver,
    transparent
  );
}
.div-dark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    $lightGray,
    transparent
  );
} 
.font-oswald {
  font-family: 'oswald';
}
.font-mw {
  font-family: 'Merriweather Sans', sans-serif;
}
/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";
