/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/luna-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
// @import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "./variables.scss";

body {
  background-color: #d4d4dc;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

@-ms-viewport{
  width: device-width;
}

div:after {
  clear: both;
  margin: 0;
  padding: 0;
  display: table;
  font-size: 0;
  line-height: 0;
  content: ' ';
  visibility: hidden;
  overflow: hidden;
  }
div {
  zoom: 1;
  }