$yellow: #feda6a !default;
$lightYellow: #ffcd39 !default;
$darkYellow: #AD974F !default;
$silver: #d4d4dc !default;
$deepGray: #393f4d !default;
$dark: #333333 !default;

// $deepGray: #231F20 !default;
// $dark: #EAEAEA !default;
// $dark: #333333 !default;
