$yellow: #feda6a !default;
$lightYellow: #ffcd39 !default;
$darkYellow: #AD974F !default;
$brown: #795e07!default;
$silver: #d4d4dc !default;
$lightGray: #80889b !default;
$deepGray: #393f4d !default;
$dark: #333333 !default;
$none: #00000000!default;
$darkGray: #231F20 !default;


.buynroll_yellow {

  color: $yellow;
}
.buynroll_lightYellow {

  color: $lightYellow;
}
.buynroll_darkYellow {

  color: $darkYellow;
}
.buynroll_silver {

  color: $silver;
}
.buynroll_lightGray {

  color: $lightGray;
}
.buynroll_deepGray {

  color: $deepGray;
}
.buynroll_dark {

  color: $dark;
}
.buynroll_darkGray {

  color: $darkGray;
}

@media (hover: hover) and (pointer: fine) {
  :host ::ng-deep button:focus{
    outline: 0;
  }
}
