$yellow: #feda6a !default;
$lightYellow: #ffcd39 !default;
$whiteYellow: #fffaf0!default;
$darkYellow: #AD974F !default;
$brown: #795e07!default;
$silver: #d4d4dc !default;
$lightGray: #80889b !default;
$deepGray: #393f4d !default;
$dark: #333333 !default;
$none: #00000000!default;
$darkGray: #231F20 !default;


.buynroll_yellow {

  color: $yellow;
}
.buynroll_lightYellow {

  color: $lightYellow;
}
.buynroll_darkYellow {

  color: $darkYellow;
}
.buynroll_silver {

  color: $silver;
}
.buynroll_lightGray {

  color: $lightGray;
}
.buynroll_deepGray {

  color: $deepGray;
}
.buynroll_dark {

  color: $dark;
}
.buynroll_darkGray {

  color: $darkGray;
}

.buynroll_brown {

  color: $brown;
}

.buynroll_bg_yellow {

  background-color: $yellow;
}
.buynroll_bg_lightYellow {

  background-color: $lightYellow;
}
.buynroll_bg_darkYellow {

  background-color: $darkYellow;
}
.buynroll_bg_silver {

  background-color: $silver;
}
.buynroll_bg_lightGray {

  background-color: $lightGray;
}
.buynroll_bg_deepGray {

  background-color: $deepGray;
}
.buynroll_bg_dark {

  background-color: $dark;
}
.buynroll_bg_darkGray {

  background-color: $darkGray;
}
.bg_error {
  background-color: #fc8181;
}
.bg_error-imp {
  background-color: #fc8181!important;
}

.bg_error-text {
  color: #fc8181;
}
.bg_error-text-imp {
  color: #fc8181!important;
}

@media (hover: hover) and (pointer: fine) {
  :host ::ng-deep button:focus{
    outline: 0;
  }
}

:host ::ng-deep .p-col {
  max-width: 100vw;
}
.registrationForm-normal {
  max-height: calc(80vh - 120px);
}
.registrationForm-reduced {
  max-height: calc(100vh - 80px);
}