@import "../../../variables.scss";

.image-item {
  transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  &:hover {
    background: $silver;
  }
}
:host ::ng-deep .ui-dialog {
  width: 90vw;
}
:host ::ng-deep p-dialog {
  &.multi {
    .ui-dialog-content {
      border: 0;
      border-radius: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      .ui-fileupload-buttonbar {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}

@media (min-width: 640px) {
  :host ::ng-deep .ui-dialog {
    width: 20rem;
  }
}
:host ::ng-deep .ui-dialog .ui-dialog-content {
  overflow: auto;
  min-height: 20rem;
}

.uploaded-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

:host ::ng-deep p-fileupload {
  width: 100%;
  .ui-fileupload-buttonbar {
    display: flex;
    > span {
      margin-right: 0.25rem !important;
      margin-left: 0px;
      order: 1;
    }
    > span + p-button {
      display: none;
    }
    p-button {
      order: 3;
    }
  }
  .ui-fileupload-content {
    border: 0;
    .ui-fileupload-files {
      display: flex;
      > div {
        width: 100%;
      }
    }
    .ui-fileupload-row {
      display: flex !important;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      div {
        flex-basis: 25%;
      }
      div:last-child {
        align-items: center;
        button {
          max-height: 32px;
        }
      }
      > div {
        display: flex !important;
        min-width: 50px;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
:host ::ng-deep .ui-dialog .ui-dialog-content {
  padding: 0;
}
