@import "../../variables.scss";

:host ::ng-deep .ui-breadcrumb {
  border: 0;
  border-radius: 0;
  font-family: "Oswald", sans-serif;
  background-color: darken($color: $deepGray, $amount: 5%);
  border-bottom: 1px solid $deepGray;

  top: 50px;
  width: 100vw;
  position: fixed;
  z-index: 2;
  ul {
    color: $silver;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    &::-webkit-scrollbar {
      background: transparent; /* Optional: just make scrollbar invisible */
      width: 0px;
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
    li.ui-breadcrumb-chevron {
      margin: 0.15em 0.5em 0px 0.5em;
    }
    li.pi-chevron-right:before {
      content: "\e9b3";
    }
    li a {
      color: lighten($color: $silver, $amount: 10%);
      font-weight: 600;
    }
  }
}
