<p-dialog [contentStyle]="{'overflow': 'hidden'}" [header]="'ACC_CONFRIM' | translate" closeOnEscape="false" dismissableMask="false" [(visible)]="displayDlgAcc" [closable]="false" position="center" [modal]="true" [baseZIndex]="10001" [draggable]="false" [resizable]="false">
  <div class="flex relative">
    <div class="flex flex-col justify-center my-4">
      <div class="font-mw font-medium text-base text-gray-600 pt-4 pb-2 px-2">
        {{ 'ACC_CONFIRM_MSG' | translate }}
      </div>
      <div class="font-mw font-medium text-lg text-gray-600">
        <mat-form-field style="flex-basis: 90%; width: 20em;" class="px-2">
          <mat-label class="font-oswald">{{ 'VER_CODE' | translate }}</mat-label>
          <input required #codeInput="ngModel" (keyup)="keyUpCode.next($event)" matInput type="text" [(ngModel)]="code" placeholder="{{ 'VER_CODE_PLACEHOLDER' | translate}}" class="overflow-hidden font-oswald">
        </mat-form-field>
      </div>
      <div>
        <ng-container [ngTemplateOutlet]="errorsConfirm" [ngTemplateOutletContext]="{title: ('VER_CODE' | translate | titlecase), error: codeInput }"></ng-container>
      </div>
    </div>
    <ngx-ui-loader [loaderId]="'acc_confirm_loader'"></ngx-ui-loader>
  </div>
</p-dialog>

<ng-template #errorsConfirm let-title='title' let-error='error'>
  <div *ngIf="error.invalid && (error.dirty || error.touched)" class="font-mw text-gray-600 text-xs absolute" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave]>
    <div *ngIf="error.errors.codeValid" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave]>
      {{ title }}{{ 'USERNAME_UNIQUE' | translate }}
    </div>
    <div *ngIf="error.errors.required" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave]>
      {{ title }} {{ 'REQUIRED' | translate }}
    </div>
  </div>
</ng-template>
