<div class="absolute z-10 top-0 right-0 select-none" [ngStyle]="{'margin': (offset + 'rem')}">
  <a *ngIf="external" mat-icon-button color="accent" class="mx-1 mt-2 focus:outline-none" [routerLink]="[ '/catalogues/item/' , PkOglas ]" [ngsReveal]="{reset: true, origin: 'top', distance: '60px', delay: delay[3]  }">
    <i class="fas text-4xl text-yellow-500 fa-external-link-square-alt rounded-md"></i>
  </a>
  <button [disabled]="rating == 0 && (config.user && config.user.username == username)" (click)="handleAddToFav()" *ngIf="!ignoreRating" mat-icon-button color="accent" class="mx-1 mt-2 relative focus:outline-none" [ngsReveal]="{reset: true, origin: 'top', distance: '60px', delay: delay[2]  }">
    <i [ngClass]="{'fas': alreadyFav == true || alreadyFav == undefined, 'far': alreadyFav == false }" class="text-4xl fa-heart rounded-md text-red-600"></i>
    <div class=" top-0 font-oswald flex items-center justify-center p-1 absolute rounded-full w-full h-full text-sm" [ngClass]="{'text-gray-200': external || (!external && (alreadyFav || alreadyFav == undefined)), 'text-gray-800': !external && alreadyFav == false}">{{helperService.abbreviateNumber(rating)}}</div>
  </button>
</div>
<div class="absolute z-10 mx-1 my-1 right-0" style="top: 3em;" [ngStyle]="{'margin': (offset + 'rem')}" [ngsReveal]="{reset: true, origin: 'right', distance: '60px', delay: delay[4]  }">
  <a *ngIf="editLink" mat-icon-button color="accent" class="mx-1 mt-2 focus:outline-none" (click)="rerouteEdit()">
    <i class="fas text-4xl text-blue-300 fa-edit rounded-md"></i>
  </a>
</div>
<div *ngIf="!ignoreContact" class="absolute z-10 mx-1 my-1 right-0" style="top: 3em;" [ngStyle]="{'margin': (offset + 'rem')}" [ngsReveal]="{reset: true, origin: 'right', distance: '60px', delay: delay[4]  }">
  <div class="popover__trigger">
    <button mat-icon-button color="accent" class="mx-1 mt-2 relative focus:outline-none select-none">
      <i [class]="'fas text-4xl fa-comments-dollar rounded-md text-gray-' + msgShade"></i>
    </button>
    <div class="popover__content p-2">
      <div class="flex flex-col">
        <div class="font-oswald flex flex-col justify-end" style="min-width: 14rem;">
          <div class="flex items-center justify-center mb-2 border-b border-gray-400 select-none">
            <!-- <i class="text-xl fas fa-address-book text-teal-700 mr-2" style="flex-basis: 25%;"></i> -->
            <div class="text-xl text-gray-800 text-center">{{ 'CONTACT' | translate }}</div>
          </div>
          <div class="flex items-center justify-end">
            <i class="text-normal fas fa-phone text-blue-800 mr-2 select-none" style="flex-basis: 10%;"></i>
            <a [href]="'tel:' + phone" class="text-normal text-gray-800" style="flex-basis: 90%;">{{phone}}</a>
          </div>
          <div class="flex items-center justify-end">
            <i class="text-normal fas fa-at text-blue-800 mr-2 select-none" style="flex-basis: 10%;"></i>
            <a [href]="'mailto:' + email" class="text-normal text-gray-800 cursor-pointer" style="flex-basis: 90%;">{{email}}</a>
          </div>
          <div class="flex items-center justify-end" *ngIf="config.featureUseChat == true">
            <div class="flex flex-col justify-center items-center">
              <i class="text-normal fas fa-reply text-blue-800 mr-2 select-none" style="flex-basis: 10%;"></i>
              <div class="text-xs text-gray-600" [ngClass]="{'text-red-500': config.textAreaMaxLength - message.length == 0 , 'text-yellow-500': (config.textAreaMaxLength - message.length < 50 && config.textAreaMaxLength - message.length > 0) }">{{ config.textAreaMaxLength - message.length }}</div>
            </div>
            <mat-form-field style="flex-basis: 90%; width: 20em;" class="px-2">
              <mat-label class="font-oswald">Private message</mat-label>
              <textarea [(ngModel)]="message" matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [maxlength]="config.textAreaMaxLength" placeholder="Hello! Still available?" class="overflow-hidden font-oswald"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>