<p-toolbar>
    <div class="topbar us0">
        <div class="flex">
            <div class="flex-1 main-logo">
                <button style="width: 3em;" (click)="openSidebar()" type="button" class="ui-button-info" pButton icon="pi pi-bars"></button>
            </div>
            <div class="flex-1 flex-center">
                <button style="width: 7em;" type="button" class="ui-button-raised ui-button-primary ui-button-rounded" pButton icon="fas fa-user" label="app"></button>
            </div>
            <div class="flex-1 flex-center">
                <button style="width: 7em;" type="button" class="ui-button-raised ui-button-secondary ui-button-rounded" pButton icon="fas fa-user" label="app"></button>
            </div>
            <div class="flex-1 flex-center">
            </div>
            <div class="flex-1 flex-center">
            </div>
            <div class="flex-1 flex-center">
            </div>
            <div class="flex-1 flex-center">
            </div>
            <div class="flex-1 flex-center">
            </div>
            <div class="flex-1 flex-center">
            </div>
            <div class="flex-1 flex-center">
            </div>
            <div class="flex-1 last logo app-logo flex-center">
                
            </div>
        </div>
    </div>
</p-toolbar>

<p-sidebar [(visible)]="displaySidebar">
</p-sidebar>
<!-- 
<p-menu #ocitanja [popup]="true" [model]="ocitanjaRoutes"></p-menu>
<p-menu #userPopup [popup]="true" [model]="userMenu"></p-menu>
<p-menu #langPopup [popup]="true" [model]="languageMenu"></p-menu>
<p-menu #monthPopup [popup]="true" [model]="months"></p-menu> -->