@import "../../variables.scss";
@import "./sidebar.scss";
@import "../../assets/scss/dark_material_override.scss";
.topbar {
  height: 50px;
  background-color: $deepGray !important;
  position: fixed;
  width: 100vw;
}
.topbar-landing {
  transition: background 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  height: 100px;
  background: linear-gradient(to bottom, #363636bd, #ff000000);
  position: fixed;
  width: 100vw;

}
.menu-bars {
  color: #fff;
  background-color: #393f4d00;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}
.menu-bars:hover {
  background-color: darken($color: #393f4d, $amount: 5%);
  border-radius: 50%;
}
.menu-bars-large {
  padding: 1.5rem;
}
:host ::ng-deep .ui-toolbar {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #00000000;
  border-radius: 0;
}

.larger {
  font-size: 1.5rem;
}
.flex {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: nowrap;
}
.flex-1 {
  flex: 1;
  margin: 0;
  align-self: center;
}
.flex-center {
  align-self: center;
}
.main-logo {
  //   background-position: 0em;
  // min-width: 4.5em;
  margin: 0.5em;
  flex-basis: 15%;
}
.last {
  text-align: left;
  padding: 0.35em 1em;
}

.logo {
  overflow: visible;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  margin: 0 1.5em;
  cursor: pointer;
  user-select: none;
  transition: 0.25s all ease-in-out;
}

.logo:hover {
  filter: saturate(3);
}
.oswald {
  font-family: "Oswald", sans-serif;
  color: $silver;
  flex: 0 0 9em;
  font-size: 1.3em;
}
.oswald:hover {
  color: lighten($color: $silver, $amount: 10%);
}

.logo:active {
  filter: brightness(1.2);
}
.app-logo {
  background-image: url("../../assets/images/topbar/app.png");
}
.us0 {
  user-select: none;
}
// :host ::ng-deep .ui-button-primary {
//   background-color: $yellow;
//   border: 1px solid $yellow;
// }
// :host ::ng-deep .ui-button.ui-state-default.ui-button-info {
//   background-color: $deepGray;
//   border: 1px solid $deepGray;
// }
// :host ::ng-deep .ui-button-primary:enabled:hover {
//   background-color: $lightYellow;
//   border: 1px solid $lightYellow;
// }
// :host ::ng-deep .ui-button-primary:enabled:active {
//   background-color: $darkYellow;
//   border: 1px solid $darkYellow;
// }
// :host ::ng-deep .ui-button.ui-state-default.ui-button-info:enabled:hover {
//   background-color: $deepGray;
//   border: 1px solid $deepGray;
// }
// :host ::ng-deep .ui-button.ui-state-default.ui-button-info:enabled:active {
//   background-color: $deepGray;
//   border: 1px solid $deepGray;
// }
// :host ::ng-deep .ui-button:enabled:focus {
//   outline: 0 none;
//   outline-offset: 0px;
//   box-shadow: 0 0 0 0.15em lighten($color: $yellow, $amount: 20%);
// }
// :host ::ng-deep .ui-button.ui-state-default.ui-button-secondary:enabled:focus {
//   outline: 0 none;
//   outline-offset: 0px;
//   box-shadow: 0 0 0 0.15em #8dcdff;
// }

.hideSmall {
  display: block;
}

@media only screen and (max-width: 700px) {
  .hideSmall {
    display: none;
  }
  .menu-bars-large {
    padding: 1rem;
  }
  .larger {
    font-size: 1.2rem;
  }
  .topbar-landing {
    height: 75px;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  .topbar-landing {
    height: 50px;
  }
  .larger {
    font-size: 1rem;
  }
}
