<p-toolbar>
	<div class="us0"  style="z-index: 1000;"[ngClass]="{'topbar': !landing, 'topbar-landing': landing}">
		<div class="flex" [ngClass]="{'larger': landing}">
			<div class="flex-1 main-logo">
				<!-- <button style="width: 3em;" [ngClass]="{'larger': landing}" (click)="openSidebar()" type="button" class="ui-button-warning" pButton icon="pi pi-bars"></button> -->
				<i class="fas fa-bars menu-bars" [ngClass]="{'larger': landing, 'fa-2x': landing, 'menu-bars-large': landing}" (click)="openSidebar()"></i>
			</div>
			<!-- <div class="flex-1 flex-center hideSmall">
				<button style="width: 7em;" type="button" class="ui-button-raised ui-button-primary ui-button-rounded" pButton icon="fas fa-user" label="app"></button>
			</div>
			<div class="flex-1 flex-center hideSmall">
				<button style="width: 7em;" type="button" class="ui-button-raised ui-button-secondary ui-button-rounded" pButton icon="fas fa-user" label="app"></button>
			</div> -->
			<div class="flex-1 flex-center hideSmall"></div>
			<div class="flex-1 flex-center hideSmall"></div>
			<div class="flex-1 flex-center hideSmall"></div>
			<div class="flex-1 flex-center hideSmall"></div>
			<!-- <div class="flex-1 flex-center hideSmall">
				<mat-form-field>
					<mat-label>Favorite food</mat-label>
					<input matInput placeholder="Ex. Pizza" [(ngModel)]="val">
					<i class="fa fa-search mat-align"></i>
				</mat-form-field>
			</div> -->
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall ">
			</div>
			<div class="flex-1 oswald last logo app-logo flex-center">
				Buy'n'Roll
			</div>
		</div>
	</div>
</p-toolbar>

<p-sidebar [(visible)]="displaySidebar">
	<div class="sidebar">
		<div class="p-grid p-dir-col">
			<div class="sb-top-left logo app-logo"></div>
			<div class="oswald-top-left">Buy'n'Roll</div>
			<div class="p-col cp">content 1</div>
			<div class="p-col cp">content 2</div>
			<div class="p-col cp">content 3</div>
		</div>
	</div>
</p-sidebar>
<!-- 
<p-menu #ocitanja [popup]="true" [model]="ocitanjaRoutes"></p-menu>
<p-menu #userPopup [popup]="true" [model]="userMenu"></p-menu>
<p-menu #langPopup [popup]="true" [model]="languageMenu"></p-menu>
<p-menu #monthPopup [popup]="true" [model]="months"></p-menu> -->