<p-toolbar>
	<div *ngIf="!forbiddenIP" id="topbar" class="us0" style="z-index: 1000;" [ngClass]="{'topbar': !landing, 'topbar-landing': landing}">
		<div class="flex" [ngClass]="{'larger': landing}">
			<div class="flex-1">
				<!-- <button style="width: 3em;" [ngClass]="{'larger': landing}" (click)="openSidebar()" type="button" class="ui-button-warning" pButton icon="pi pi-bars"></button> -->
				<i class="fas fa-bars menu-bars" [ngClass]="{'larger': landing, 'fa-2x': landing, 'menu-bars-large': landing}" (click)="openSidebar()"></i>
			</div>
			<!-- <div class="flex-1 flex-center hideSmall">
				<button style="width: 7em;" type="button" class="ui-button-raised ui-button-primary ui-button-rounded" pButton icon="fas fa-user" label="app"></button>
			</div>
			<div class="flex-1 flex-center hideSmall">
				<button style="width: 7em;" type="button" class="ui-button-raised ui-button-secondary ui-button-rounded" pButton icon="fas fa-user" label="app"></button>
			</div> -->
			<!-- [style]="'background-image: url(' + config.STATIC_FILES + config.user.username + '/' + profilePhoto.filename + ')'" -->
			<div class="flex flex-1 content-center justify-center items-center w-full h-full">
				<div (click)="navigateProfile()" *ngIf="profilePhoto && config.user" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave] class="profile_pic cursor-pointer border-2 border-gray-700 shadow-md" [ngClass]="{'w-12 h-12': landing, 'w-8 h-8': !landing }" [ngStyle]="{'background-image': 'url(' + (profilePhoto.filename? config.STATIC_FILES + config.user.username + '/' + profilePhoto.filename : profilePhoto.path) + ')' }"></div>
			</div>
			<div class="flex-1 flex-center">
				<a *ngIf="profilePhoto && config.user" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave] [title]="'MOJI_OGLASI' | translate | titlecase" (click)="rerouteMojiOglasi()" mat-icon-button color="accent" class="mx-1 mt-2 focus:outline-none">
					<i class="fas fa-book-reader text-gray-100 text-xl"></i>
				</a>
			</div>
			<div class="flex-1 flex-center"></div>
			<div class="flex-1 flex-center hideSmall"></div>
			<!-- <div class="flex-1 flex-center hideSmall">
				<mat-form-field>
					<mat-label>Favorite food</mat-label>
					<input matInput placeholder="Ex. Pizza" [(ngModel)]="val">
					<i class="fa fa-search mat-align"></i>
				</mat-form-field>
			</div> -->
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall">
			</div>
			<div class="flex-1 flex-center hideSmall ">
			</div>
			<a [routerLink]="[ '/' ]" class="flex-1 oswald last logo app-logo flex-center">
				Buy'n'Roll
			</a>
		</div>
	</div>
</p-toolbar>

<p-sidebar [(visible)]="displaySidebar">
	<div class="sidebar">
		<div class="p-grid p-dir-col">
			<a [routerLink]="[ '/' ]" class="sb-top-left logo app-logo"></a>
			<div class="oswald-top-left">Buy'n'Roll</div>
			<div class="p-col" style="position: relative;">
				<p-accordion [activeIndex]="index" (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)" expandIcon="fas fa-caret-right" collapseIcon="fas fa-caret-down">
					<p-accordionTab [header]="'PRETRAZI' | translate">
						<div class="p-grid p-dir-col">
							<div class="p-col">
								<div class="search-box" style="position: relative;">
									<input type="text" class="input-sidebar" pInputText [placeholder]="'PRETRAZI_INPUT' | translate" [(ngModel)]="searchQuery" (keyup.enter)="search(0)" />
									<i class="fas fa-search input-search" (click)="search(0)"></i>
								</div>
							</div>
							<div class="divider div-light"></div>
							<div class="p-col">
								<h6>{{ 'MANUFACTURER' | translate }}</h6>
								<p-dropdown [placeholder]="'ODABERITE' | translate" filter="true" (onChange)="getSeriesData($event)" *ngIf="manufacturers" [virtualScroll]="true" itemSize="20" [options]="manufacturers" [(ngModel)]="selectedManufacturer" optionLabel="manufacturerName">
									<ng-template let-item pTemplate="selectedItem">
										<span *ngIf="item.label">{{ helperService.truncateString(item.label,15) }}</span>
									</ng-template>
								</p-dropdown>
							</div>
							<div class="p-col" [@fadeInUpOnEnter] *ngIf="series">
								<h6>{{ 'SERIJA' | translate }}</h6>
								<p-dropdown [placeholder]="'ODABERITE' | translate" filter="true" (onChange)="getModelData($event)" [virtualScroll]="true" itemSize="20" [options]="series" [(ngModel)]="selectedSeries" optionLabel="seriesName">
									<ng-template let-item pTemplate="selectedItem">
										<span *ngIf="item.label">{{ helperService.truncateString(item.label,15) }}</span>
									</ng-template>
								</p-dropdown>
							</div>
							<div class="p-col" [@fadeInUpOnEnter] *ngIf="models">
								<h6>{{ 'MODEL' | translate }}</h6>
								<p-dropdown [placeholder]="'ODABERITE' | translate" filter="true" (onChange)="selectModel($event)" [virtualScroll]="true" itemSize="20" [options]="models" [(ngModel)]="selectedModel" optionLabel="modelName">
									<ng-template let-item pTemplate="selectedItem">
										<span *ngIf="item.label">{{ helperService.truncateString(item.label,15) }}</span>
									</ng-template>
								</p-dropdown>
							</div>
						</div>
						<button [disabled]="index != 0" mat-fab color="accent" class="ctaButton" (click)="search(1)" [ngClass]="{'ctaCollapsed': index != 0}" *ngIf="selectedManufacturer && selectedSeries" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave]>
							<span class="fa-stack">
								<i class="fas fa-car pl-1 fa-stack-2x buynroll_deepGray"></i>
								<i class="fas fa-search fa-stack-1x fa-2x pr-2 fa-inverse"></i>
							</span>
						</button>
					</p-accordionTab>
					<p-accordionTab [header]="'LANG' | translate">
						<div class="p-col" style="align-self: baseline;">
							<div class="p-grid p-dir-row">
								<div class="p-col">
									<button mat-mini-fab color="basic" (click)="changeLang('hr')">
										<div class="lang" style="background-image: url('assets/icons/hr.svg');"></div>
									</button>
								</div>
								<div class="p-col">
									<button mat-mini-fab color="basic" (click)="changeLang('en')">
										<div class="lang" style="background-image: url('assets/icons/gb.svg');"></div>
									</button>
								</div>
							</div>
						</div>
					</p-accordionTab>
					<p-accordionTab header="Header 3">
						Content 3
					</p-accordionTab>
				</p-accordion>
				<ngx-ui-loader [loaderId]="'vehicleTopbar'"></ngx-ui-loader>
			</div>
			<div class="p-col">
			</div>
			<div class="p-col">
				<a *ngIf="!config.isLoggedIn" (click)="rerouteLogin();openSidebar()" style="text-decoration: none;" mat-button color="accent">
					<div>
						<i class="fas fa-sign-in-alt"></i>
						{{ 'SIGNIN' | translate }}
					</div>
				</a>
				<div *ngIf="config.user" class="font-oswald my-1 text-lg">
					{{ 'LOGGED_AS' | translate }} <span class="font-bold">{{ config.user.username }}</span>
				</div>
				<a *ngIf="config.isLoggedIn" (click)="logOff()" style="text-decoration: none;" mat-button color="accent">
					<div>
						<i class="fas fa-sign-out-alt"></i>
						{{ 'SIGNOUT' | translate }}
					</div>
				</a>
			</div>
			<div class="p-col">
				<button mat-button color="accent" (click)="rerouteOglas()">
					<div>
						<i class="fas fa-paper-plane"></i>
						{{ 'FREE_OGLAS' | translate }}
					</div>
				</button>
			</div>
		</div>
	</div>
</p-sidebar>
<!-- 
<p-menu #ocitanja [popup]="true" [model]="ocitanjaRoutes"></p-menu>
<p-menu #userPopup [popup]="true" [model]="userMenu"></p-menu>
<p-menu #langPopup [popup]="true" [model]="languageMenu"></p-menu>
<p-menu #monthPopup [popup]="true" [model]="months"></p-menu> -->

<ng-template #placeholder>
	<div class="flex-1 flex-center"></div>
</ng-template>