<div class="relative" [ngClass]="{'banner': !photos.length}">
  <div class="swiper-container" [swiper]="swiperGalleryConfig" *ngIf="photos.length; else noImages">
    <div class="swiper-wrapper" gallerize selector=".gallery-img">
      <div matRipple class="swiper-slide relative" *ngFor="let image of photos">
        <img [src]="image.thumb" [attr.imageSrc]="image.src" [attr.thumbSrc]="image.thumb" class="galImg gallery-img">
        <button (click)="setForDeletion(image.PkPhoto)" mat-mini-fab color="accent" class="mx-1 mt-2 focus:outline-none bgRed absolute top-0 right-0">
          <i class="fas fa-trash text-2xl text-red-800"></i>
        </button>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="absolute z-10 top-0 left-0 select-none" [ngStyle]="{'margin': (offset + 'rem')}">
    <button (click)="openImageUpload()" mat-mini-fab color="accent" class="mx-1 mt-2 focus:outline-none" [ngsReveal]="{reset: true, origin: 'top', distance: '60px', delay: 300  }">
      <i class="fas text-2xl text-yellow-800 fa-cloud-upload-alt rounded-md"></i>
    </button>
  </div>
</div>

<app-image-changer #ic *ngIf="imgUpload" [multi]="true" [single]="false" [opened]="true" (onImageUpload)="handleImages($event)"></app-image-changer>

<ng-template #noImages>
  <div class="font-oswald text-xl sm:text-3xl bottom-0 right-0 py-2 px-3 sm:px-6 sm:py-4 text-gray-100 bg-gray-700 opacity-75 rounded-lt-lg font-semibold absolute">
    {{ 'NO_PHOTOS' | translate }}
  </div>
</ng-template>

<app-confirm-dialog #cd (onConfirm)="confirmationResolve($event)"></app-confirm-dialog>

