
.galImg {
  height: 20vh;
  margin: 0 auto;
}
.banner {
  width: 100vw;
  margin-top: 50px;
  background-image: url("../../../assets/images/catalogue/unknown.jpg");
  background-size: cover;
  background-position: bottom;
  height: 20vh;
  position: relative;
}
:host ::ng-deep .mat-mini-fab {
  &.bgRed.mat-accent {
    position: absolute;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    background-color: #e53e3e;
  }
}

:host ::ng-deep .mat-raised-button  {
  &.bgRed.mat-accent {
    background-color: #e53e3e;
  }
}
:host ::ng-deep p-dialog {
  &.confirm {
    .ui-dialog .ui-dialog-titlebar {
      background-color: #742a2a;
    }
  }
}
  