
.galImg {
  height: 20vh;
  margin: 0 auto;
}
.banner {
  width: 100vw;
  margin-top: 50px;
  background-image: url("../../../assets/images/catalogue/unknown.jpg");
  background-size: cover;
  background-position: bottom;
  height: 20vh;
  position: relative;
}
