@import "../../../assets/scss/light_material_override.scss";
@import "../../../assets/scss/table.scss";

:host ::ng-deep .ui-dialog {
  width: 90vw;
}
:host ::ng-deep p-dialog {
  &.multi {
    .ui-dialog-content {
      border: 0;
      border-radius: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      .ui-fileupload-buttonbar {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}

@media (min-width: 640px) {
  :host ::ng-deep .d-one .ui-dialog {
    width: 30rem;
  }
}
:host ::ng-deep .ui-dialog .ui-dialog-content {
  overflow: auto;
  min-height: 20rem;
}

.step-1 {
  padding-top: 8rem;
}