<p-dialog [blockScroll]="true" class="d-one" [header]="'KUPOPRODAJNI_GEN' | translate | titlecase" closeOnEscape="true" [(visible)]="state.steps.one" position="center" [modal]="false" [baseZIndex]="10000000" [draggable]="false" [resizable]="false">
  <div class="relative">
    <div class="bg-indigo-100 rounded-sm shadow p-1 items-center justify-center text-gray-600 font-mw text-base w-full flex">
      {{ 'UGOVOR_OPTIONS' | translate }}
    </div>
    <div class="flex flex-col justify-between w-full p-2 content-center items-center">
      <div class="flex flex-row items-center content-center justify-between w-full my-1">
        <div class="font-oswald text-lg text-gray-700 font-thin p-1 bg-gray-300 rounded-sm">
          {{ ((state.loadKupac == true? 'LOAD_KUPAC_DA': 'LOAD_KUPAC_NE') | translate) }}
        </div>
        <p-inputSwitch class="flex" [(ngModel)]="state.loadKupac"></p-inputSwitch>
      </div>
      <div class="flex flex-row items-center content-center justify-between w-full my-1">
        <div class="font-oswald text-lg text-gray-700 font-thin p-1 bg-gray-300 rounded-sm">
          {{ ((state.loadProdavac == true? 'LOAD_PRODAVAC_DA': 'LOAD_PRODAVAC_NE') | translate) }}
        </div>
        <p-inputSwitch class="flex" [(ngModel)]="state.loadProdavac"></p-inputSwitch>
      </div>
      <div class="flex flex-row items-center content-center justify-between w-full my-1">
        <div class="font-oswald text-lg text-gray-700 font-thin p-1 bg-gray-300 rounded-sm">
          {{ ((state.useAllData == true? 'ALL_DATA_UGOVOR_NE': 'ALL_DATA_UGOVOR_DA') | translate) }}
        </div>
        <p-inputSwitch class="flex" [(ngModel)]="state.useAllData"></p-inputSwitch>
      </div>
    </div>
    <div class="step-1">
      <button mat-raised-button color="accent" (click)="finishStep(1)" class="mat-focus-indicator mat-button mat-button-base mat-accent w-full bg-orange-100 p-2" [title]="('CONTINUE' | translate) | lowercase | titlecase">
        <div class="flex items-center align-middle">
          <div class="flex items-center align-middle mx-auto ">
            <div class="pr-2" style="flex-basis: 85%;">{{ 'CONTINUE' | translate }}</div>
            <div class="flex items-center align-middle justify-center"><i class="fas fa-arrow-circle-right navIcon pr-2 text-yellow-700 text-base leading-8"></i></div>
          </div>
        </div>
      </button>
    </div>
    <ngx-ui-loader [loaderId]="'step_one'"></ngx-ui-loader>
  </div>
</p-dialog>


<p-dialog [blockScroll]="true" [header]="'KUPOPRODAJNI_GEN' | translate | titlecase" closeOnEscape="true" [modal]="false" [(visible)]="state.steps.two" position="center" [modal]="false" [baseZIndex]="10000000" [draggable]="false" [resizable]="false">
  <div class="relative">
    <ng-container *ngTemplateOutlet="buyerData"></ng-container>
    <div class="">
      <button [disabled]="!state.user" mat-raised-button color="accent" (click)="finishStep(2)" class="mat-focus-indicator mat-button mat-button-base mat-accent lg:w-48 w-full bg-orange-100 p-2" [title]="('CONTINUE' | translate) | lowercase | titlecase">
        <div class="flex items-center align-middle">
          <div class="flex items-center align-middle mx-auto ">
            <div class="pr-2" style="flex-basis: 85%;">{{ 'CONTINUE' | translate }}</div>
            <div class="flex items-center align-middle justify-center"><i class="fas fa-arrow-circle-right navIcon pr-2 text-yellow-700 text-base leading-8"></i></div>
          </div>
        </div>
      </button>
    </div>
    <ngx-ui-loader [loaderId]="'step_three'"></ngx-ui-loader>
  </div>
</p-dialog>

<p-dialog [blockScroll]="true" [header]="'KUPOPRODAJNI_GEN' | translate | titlecase" closeOnEscape="true" [modal]="false" [(visible)]="state.steps.three" position="center" [modal]="false" [baseZIndex]="10000000" [draggable]="false" [resizable]="false">
  <div class="relative">
    <ng-container *ngTemplateOutlet="propertyData"></ng-container>
    <div class="">
      <button mat-raised-button color="accent" (click)="finishStep(3)" class="mat-focus-indicator mat-button mat-button-base mat-accent lg:w-48 w-full bg-orange-100 p-2" [title]="('CONTINUE' | translate) | lowercase | titlecase">
        <div class="flex items-center align-middle">
          <div class="flex items-center align-middle mx-auto ">
            <div class="pr-2" style="flex-basis: 85%;">{{ 'CONTINUE' | translate }}</div>
            <div class="flex items-center align-middle justify-center"><i class="fas fa-arrow-circle-right navIcon pr-2 text-yellow-700 text-base leading-8"></i></div>
          </div>
        </div>
      </button>
    </div>
  </div>
</p-dialog>

<ng-template #buyerData>
  <div class="bg-indigo-100 rounded-sm shadow p-1 items-center justify-center text-gray-600 font-mw text-base w-full flex">
    {{ 'UGOVOR_SEARCH_USER' | translate }}
  </div>
  <div class="flex flex-col justify-between w-full p-2 content-center items-center">
    <div class="flex flex-row items-center content-center justify-between w-full my-1">
      <p-table #buyt [columns]="buyerCols" class="buyerTable" [value]="buyersList" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="state.user" dataKey="username">
        <ng-template pTemplate="caption">
          <div class="flex">
            <mat-form-field class="px-2 text-lg">
              <mat-label class="font-oswald">{{ 'FILTER' | translate | uppercase }}</mat-label>
              <input style="color: #2d3748;" matInput (input)="buyt.filterGlobal($event.target.value, 'contains')" placeholder="{{ 'FILTER' | translate }}" class="overflow-hidden font-oswald">
            </mat-form-field>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              <span class="text-lg">{{ col.header | translate }}</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="flex flex-row w-full items-center">
              <div style="min-width: 3.25rem;"><img class="rounded-full cursor-pointer shadow-md h-12 w-12 mr-2" [src]="item.photo.PkPhoto != -1? (config.STATIC_FILES + item.username + '/' + item.photo.filename) : item.photo.filename"></div>
              <div class="font-oswald text-gray-800 text-lg">{{item.lastName}}&nbsp;{{item.firstName}}</div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-template>


<ng-template #propertyData>
  <div class="bg-indigo-100 rounded-sm shadow p-1 items-center justify-center text-gray-600 font-mw text-base w-full flex">
    {{ 'UGOVOR_PROPS' | translate }}
  </div>
  <div class="flex flex-col justify-between w-full p-2 content-center items-center">
    <div class="flex flex-row items-center content-center justify-between w-full my-1">
      <p-table [columns]="propertyCols" class="buyerTable" [value]="propertyList" [(selection)]="state.selectedProps" dataKey="label" [scrollable]="true" [rows]="11" scrollHeight="350px" [virtualScroll]="true" [virtualRowHeight]="42">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
              {{ col.header | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
          <tr>
            <td style="width: 3em">
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns" class="flex flex-row w-full items-center">
              <div class="font-oswald text-gray-800 text-base">{{item.label | translate | titlecase}}</div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-template>