.banner {
  width: 100vw;
  margin-top: 90px;
  background-image: url("../../../../assets/images/catalogue/banner2.jpg");
  background-size: cover;
  background-position: bottom;
  height: 20vh;
  position: relative;
}