@import "../../../variables.scss";
@import "../../../assets/scss/light_material_override.scss";

.banner {
  width: 100vw;
  margin-top: 90px;
  height: 20vh;
  position: relative;
  &.noImg {
    background-image: url("../../../assets/images/catalogue/unknown.jpg");
  }
}

@media (max-height: 449px) {
  .banner {
    margin-top: 50px;
  }
}
.profile_pic {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.noContentWrap {
  min-height: calc(80vh - 91px);
}

.price-tag {
  .price-text {
    width: 100%;
    cursor: pointer;
  }
}
.title-hover {
  div,
  .person,
  &.readmore {
    transition: color 0.15s ease;
  }
  &:hover {
    div,
    .person,
    &.readmore {
      color: $lightYellow;
    }
  }
}
.hoverYlw {
  transition: color 0.15s ease;
  &:hover {
    color: $lightYellow;
  }
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background: $lightYellow;
}

.commentFlatInput {
  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
  &::placeholder {
    font: inherit;
  }
}