<app-breadcrumbs *ngIf="displayAccessories" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div *ngIf="oglas.photos.length == 0; else imageViewer" class="banner mb-4 relative">
  <!-- <div class="absolute text-2xl top-0 right-0">
    <div class="w-full">
      <span class="fa-stack px-4">
        <i class="fas fa-fw fa-camera-retro fa-stack-2x buynroll_deepGray"></i>
        <i class="fas fa-fw buynroll_lightYellow pl-2 fa-times fa-stack-1x fa-2x pr-2 fa-inverse"></i>
      </span>
    </div>
  </div> -->
</div>


<div class="p-grid p-nogutter overflow-hidden mb-4">
  <div class="p-col">
    <div class="flex justify-center items-center " [ngsReveal]="{reset: true, origin: 'right'  }">
      <div class="max-w-full lg:w-full sm:mx-8 md:mx-24 lg:mx-48 xl:64 mx-2 rounded overflow-hidden border border-gray-300  shadow-md relative z-0">
        <div class="bg-gray-100 z-10 relative">
          <div class="bg-gray-100 px-4 py-4 relative">
            <div [ngsReveal]="{reset: true, origin: 'right', delay: 50  }">
              <div>
                <div class="w-9/12 font-oswald font-semibold text-gray-800 text-2xl mb-1">{{ oglas.oglasNaziv }}</div>
                <div class="w-9/12 font-oswald mb-2 text-xl text-gray-800">{{ oglas.vehicle.chassis.model.series.manufacturer.manufacturerName }}&nbsp;{{ oglas.vehicle.chassis.model.series.seriesName }}&nbsp;{{ oglas.vehicle.chassis.model.modelName }}</div>
                <div *ngIf="oglas.vehicle.chassis.VIN" class="w-9/12 font-oswald mb-2 text-xl text-gray-800 flex items-center">
                  <div class="mr-2">{{'VIN' | translate }} &bull;</div>
                  <div>{{ oglas.vehicle.chassis.VIN }}</div>
                </div>
              </div>
              <div class="font-oswald flex flex-col mb-2 text-2xl font-thin">
                <div class="font-semibold mr-2 text-gray-700 cursor-pointer" [countUp]="price" [options]="countUpOptions">0</div>
                <div class="w-24 text-center font-oswald cursor-default inline-block rounded-sm px-3 py-1 my-1 text-base font-semibold mr-2 bg-gray-300 text-gray-700">{{ oglas.paymentMethod | translate | uppercase }}</div>
              </div>
              <mat-divider class="mb-2"></mat-divider>
            </div>
          </div>
          <div class="p-grid p-nogutter">
            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <div class="bg-gray-100 px-4 pb-2 relative">
                <p class="font-mw text-gray-700 py-2 text-base">
                  <span class="whitespace-pre-line">{{ oglas.oglasOpis }}</span>
                </p>
                <div *ngIf="oglas.location" class="font-mw text-gray-600 flex flex-col pt-1 pb-2">
                  <div class="font-oswald text-xl text-gray-800 font-medium">{{ 'VEHICLE_LOCATION' | translate }}</div>
                  <div>{{ oglas.location.display_name }}</div>
                </div>
                <div (click)="router.navigate([ '/profile', {username: profileData.username} ])" matRipple [ngsReveal]="{reset: true, origin: 'right', delay: 100 }" class="bg-gray-100 py-2 relative flex flex-row items-center cursor-pointer title-hover">
                  <img *ngIf="profileData && profileData.photo" class="rounded-full object-cover mr-4 select-none w-16 h-16 xl:w-24 xl:h-24" [src]="getPhotoUrlCss()">
                  <div *ngIf="profileData" class="text-sm flex flex-col">
                    <a [routerLink]="[ '/profile', {username: profileData.username} ]" class="font-mw text-gray-900 leading-none person">{{ oglas.vehicle.user.lastName }}&nbsp;{{ oglas.vehicle.user.firstName }}</a>
                    <p class="font-mw text-gray-600">{{ 'OGLAS_CREATED_AT' | translate }} &bull; {{ helperService.date(oglas.oglasCreatedAt) }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <div [ngsReveal]="{reset: true, origin: 'right', delay: 150  }" class="bg-gray-100 relative flex flex-wrap justify-center p-2 w-full">
                <div class="flex flex-col w-full">
                  <div>
                    <div class="font-oswald font-xl text-gray-800 font-medium">{{ ('GENERAL' | translate) | uppercase }}</div>
                    <!-- <mat-divider class="font-oswald pb-1" style="margin-right: 0.5rem;"></mat-divider> -->
                  </div>
                  <div class="font-oswald">
                    <span class="cursor-default inline-block rounded-sm px-3 py-1 my-1 text-sm font-semibold mr-2" [ngClass]="{'buynroll_bg_yellow text-yellow-800': oglas.vehicle.RegistriranDaNe == 1, 'buynroll_bg_silver text-gray-600': oglas.vehicle.RegistriranDaNe == 0 }">{{ ((oglas.vehicle.RegistriranDaNe == 1? 'REGISTRIRAN' : 'NEREGISTRIRAN' ) | translate) | uppercase }}</span>
                    <span class="cursor-default inline-block rounded-sm px-3 py-1 my-1 text-sm font-semibold mr-2 buynroll_bg_yellow text-yellow-800">{{ (oglas.vehicle.chassis.vehicleState | translate) | uppercase }}</span>
                    <span class="cursor-default inline-block rounded-sm px-3 py-1 my-1 text-sm font-semibold mr-2 buynroll_bg_yellow text-yellow-800">{{ oglas.vehicle.chassis.makeYear }}</span>
                    <span class="cursor-default inline-block rounded-sm px-3 py-1 my-1 text-sm font-semibold mr-2 buynroll_bg_yellow text-yellow-800">{{ (oglas.paymentMethod | translate) | uppercase }}</span>
                  </div>
                </div>
                <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{title:'ACCESSORIES', items: oglas.accessories, bg: 'buynroll_bg_silver', text: 'text-gray-600' }"></ng-container>
                <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{title:'KLIMA', items: oglas.airConditioning, bg: 'bg-gray-300', text: 'text-gray-600' }"></ng-container>
                <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{title:'MUZIKA', items: oglas.autoRadioDefs, bg: 'bg-indigo-200', text: 'text-gray-800' }"></ng-container>
                <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{title:'COMFORT', items: oglas.comfortAccessories, bg: 'bg-orange-200', text: 'text-yellow-600' }"></ng-container>
                <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{title:'SAFETY', items: oglas.safety, bg: 'buynroll_bg_silver', text: 'text-gray-600' }"></ng-container>
                <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{title:'THEFT_SAFETY', items: oglas.theftSafety, bg: 'bg-gray-300', text: 'text-gray-600' }"></ng-container>
              </div>
            </div>
            <div class="p-col-12" [ngsReveal]="{reset: true, origin: 'right', delay: 180 }">
              <div class="px-4">
                <mat-divider class="mb-2"></mat-divider>
              </div>
            </div>
            <div class="p-col-12">
              <div class="bg-gray-100 px-4 pt-4 pb-2 relative w-full">
                <div class="relative">
                  <div class="flex flex-row" [ngsReveal]="{reset: true, origin: 'right', delay: 200 }">
                    <div class="font-oswald font-semibold text-gray-800 text-xl pb-2">{{ 'CAR_SPECS' | translate | uppercase}}</div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12 p-sm-12 p-md-12 p-xl-6">
                      <div class="flex flex-row flex-wrap justify-between lg:justify-start">
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-gas-pump pr-2 text-indigo-800', delay: '75', title:'MILEAGE', item: oglas.vehicle.chassis.consumption + ' l/100km', bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-road pr-2 text-indigo-800', delay: '100', title:'KILOMETERS', item: oglas.vehicle.chassis.kilometers + ' km', bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-burn pr-2 text-indigo-800', delay: '275', title:'GAS_TYPE', item: (oglas.vehicle.chassis.model.gasType.gasType | translate ), bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12 p-sm-12 p-md-12 p-xl-6">
                      <div class="flex flex-row flex-wrap justify-between lg:justify-start">
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-file-signature pr-2 text-indigo-800', delay: '125', title:'REGISTRATION', item: oglas.vehicle.RegistriranDaNe == true? 'REGISTRIRAN': 'NEREGISTRIRAN', bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-calendar pr-2 text-indigo-800', delay: '150', title:'GODINA_PROIZVODNJE', item: oglas.vehicle.chassis.makeYear, bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-wrench pr-2 text-indigo-800', delay: '175', title:'VEHICLE_STATE', item: (oglas.vehicle.chassis.vehicleState | translate), bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-calendar-minus pr-2 text-indigo-800', delay: '250', title:'PRODUCTION_END', item: oglas.vehicle.chassis.model.endOfProductionYear, bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12 p-sm-12 p-md-12 p-xl-6">
                      <div class="flex flex-row flex-wrap justify-between lg:justify-start">
                        <div class="pr-2">
                          <ng-container *ngIf="oglas.vehicle.chassis.color" [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-car pr-2', delay: '50', color: oglas.vehicle.chassis.color.colorCode, title:'COLOR', item: oglas.vehicle.chassis.color.color, bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-shapes pr-2 text-indigo-800', delay: '200', title:'BODY', item: (oglas.vehicle.chassis.model.body.bodyName | translate), bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-vector-square pr-2 text-indigo-800', delay: '225', title:'DRIVETRAIN', item: oglas.vehicle.chassis.model.drivetrain.drivetrainCode, bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-cogs pr-2 text-indigo-800', delay: '300', title:'TRANSMISSION', item: (oglas.vehicle.chassis.model.transmission.transmissionName | translate ), bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12 p-sm-12 p-md-12 p-xl-6">
                      <div class="flex flex-row flex-wrap justify-between lg:justify-start">
                        
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-toolbox pr-2 text-indigo-800', delay: '200', title:'MANUFACTURER', item: oglas.vehicle.chassis.model.series.manufacturer.manufacturerName, bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-tools pr-2 text-indigo-800', delay: '225', title:'SERIJA', item: oglas.vehicle.chassis.model.series.seriesName, bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                        <div class="pr-2">
                          <ng-container [ngTemplateOutlet]="pills" [ngTemplateOutletContext]="{ icon:'fas fa-screwdriver pr-2', delay: '150', title:'MODEL', item: oglas.vehicle.chassis.model.modelName, bg: 'bg-gray-300', text: 'text-gray-700' }"></ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-catalogue-action-icons #actionIcons [ignoreContact]="hideContact" [editLink]="showEdit" [external]="false" [PkOglas]="oglas.PkOglas" [rating]="oglas.rating" [msgShade]="600" [offset]="1"></app-catalogue-action-icons>
      </div>
    </div>
  </div>
</div>

<ng-template #imageViewer>
  yeeeehaw
</ng-template>

<ng-template #pills let-title='title' let-items='items' let-item='item' let-bg='bg' let-text='text' let-icon='icon' let-color='color' let-delay='delay'>
  <div *ngIf="items" [ngsRevealSet]="{reset: true, origin: 'right'  }" [ngsInterval]="35" [ngsSelector]="'.revealItem'" class="bg-gray-100 relative flex flex-wrap justify-center py-2 w-full">
    <div class="flex flex-col w-full">
      <div>
        <div class="revealItem font-oswald font-xl text-gray-800 font-medium">{{ ( title | translate) | uppercase }}</div>
      </div>
      <div class="revealItem font-oswald">
        <ng-container *ngFor="let item of items">
          <span [class]="'font-oswald cursor-default inline-block rounded-sm px-3 py-1 my-1 text-sm font-semibold mr-2 ' + bg + ' ' + text">{{ item | uppercase }}</span>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="item" [ngsReveal]="{reset: true, origin: 'right', delay: delay || 300 }" class="bg-gray-100 relative flex flex-wrap justify-center py-2 w-full">
    <div class="flex flex-col w-full">
      <div>
        <div class="revealItem font-oswald font-2xl text-gray-600 font-thin">{{ ( title | translate) | uppercase }}</div>
      </div>
      <div class="revealItem font-oswald">
        <span [class]="'font-oswald flex flex-row items-center justify-center content-center cursor-default inline-block rounded-sm px-3 py-1 my-1 text-base font-semibold ' + bg + ' ' + text">
          <i *ngIf="icon && color" [class]="icon" [style.color]="color"></i>
          <i *ngIf="icon && !color" [class]="icon"></i>
          {{ item | uppercase }}
        </span>
      </div>
    </div>
  </div>

</ng-template>