@import "../../../variables.scss";

.banner {
  width: 100vw;
  margin-top: 90px;
  background-image: url("../../../assets/images/catalogue/banner.jpg");
  background-size: cover;
  background-position: bottom;
  height: 20vh;
  position: relative;
}

.noContentWrap {
  min-height: calc(80vh - 91px);
}

.price-tag {
  .price-text {
    width: 100%;
    cursor: pointer;
  }
}
.title-hover {
  div, .person, &.readmore {
    transition: color 0.15s ease;
  }
  &:hover {
    div, .person, &.readmore {
      color: $lightYellow;
    }
  }
}
