@import "../../assets/scss/dataview.scss";
@import "../../assets/scss/card.scss";

.banner {
  width: 100vw;
  background-image: url('../../assets/images/catalogue/banner.jpg');
  background-size: cover;
  background-position: bottom;
  height: 20vh;
  position: relative;
}
