<app-breadcrumbs *ngIf="displayAccessories" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div *ngIf="displayAccessories" class="banner"></div>
<p-dataView *ngIf="catalogList.length > 0; else noRecords" #dv [value]="catalogList" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[10,20,30]" paginatorPosition="both" filterBy="brand" [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="p-grid p-nogutter">
        <div class="p-col-4 np">
          <p-dropdown [options]="sortOptions"  placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <div class="p-col-4 np filter-container">
        </div>
        <div class="p-col-4 np" style="text-align:right">
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-o pTemplate="listItem">
    <!-- <div class="p-col-12"> -->
      <div class="car-details">
        <div class="md:mx-4 lg:mx-16 xl:md-32">
          <!-- <img src="assets/showcase/images/demo/car/{{o.brand}}.png"> -->
          <div class="p-grid p-nogutter">
            <!-- <div class="p-col-12">oglasNaziv: <b>{{o.oglasNaziv}}</b></div> -->
            <!-- <div class="p-col-12">modelName: <b>{{o.modelName}}</b></div> -->
            <!-- <div class="p-col-12">oglasOpis: <b>{{o.oglasOpis}}</b></div> -->
            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-4">
              <!-- <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://www.njuskalo.hr/image-w920x690/auti/opel-astra-gsi-16v-slika-29041039.jpg)"></div>
                  <ul class="details">
                    <li class="author"><a href="#">{{o.firstName}}&nbsp;{{o.lastName}}</a></li>
                    <li class="date">{{ helperService.date(o.oglasCreatedAt)}}</li>
                    <li class="tags">
                      <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>{{o.oglasNaziv}}</h1>
                  <h2>{{o.manufacturerName}}&nbsp;{{o.seriesName}}&nbsp;{{o.modelName}}</h2>
                  <p>{{helperService.truncateString(o.oglasOpis, 200)}}</p>
                  <p class="read-more">
                    <a href="#">Read More</a>
                  </p>
                </div>
              </div> -->
              <app-catalogue-search-item [item]="o" [size]="'large'"></app-catalogue-search-item>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </ng-template>
  <!-- <ng-template let-o pTemplate="gridItem">
    <div style="padding:.5em" class="p-col-12 p-sm-6 p-md-4 p-lg-3 p-xl-2" *ngFor="let item of [0,1,2,3]">
      <div class="blog-card white">
        <div class="description" style="flex-basis: 100%;">
          <div class="photo" style="background-image: url(https://www.njuskalo.hr/image-w920x690/auti/opel-astra-gsi-16v-slika-29041039.jpg)"></div>
          <div class="overlay"></div>
          <h1><span class="buynroll_silver">{{o.oglasNaziv}}</span></h1>
          <h2><span class="buynroll_silver">{{o.manufacturerName}}&nbsp;{{o.seriesName}}&nbsp;{{o.modelName}}</span></h2>
          <p class="buynroll_silver">{{helperService.truncateString(o.oglasOpis, 125)}}</p>
          <p class="read-more">
            <a href="#">Read More</a>
          </p>
        </div>
      </div>
    </div>
  </ng-template> -->
</p-dataView>

<ng-template #noRecords>
  <div class="md:mx-4 lg:mx-16 xl:md-32">
    <div class="flex flex-col justify-center content-center items-center noContentWrap">
      <img src="assets/images/catalogue/missing.png" class="w-40 h-40 select-none">
      <span class="text-4xl text-gray-700 font-oswald flex flex-col justify-center content-center items-center">
        <div class="text-center select-none">{{ 'OOPS' | translate }}</div>
        <div class="text-center select-none">{{ 'CATALOGUE_CANT_FIND' | translate }}</div>
      </span>
    </div>
  </div>
</ng-template>
