<app-breadcrumbs *ngIf="displayAccessories" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div *ngIf="displayAccessories" class="banner"></div>
<p-dataView *ngIf="catalogList.length > 0; else noRecords" #dv [value]="catalogList" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[10,20,30]" paginatorPosition="both" filterBy="brand" [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="p-grid p-nogutter">
        <div class="p-col-4 np">
          <p-dropdown [options]="sortOptions" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <div class="p-col-4 np filter-container">
        </div>
        <div class="p-col-4 np" style="text-align:right">
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-o pTemplate="listItem">
    <span class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3 px-2 md:px-4 lg:px-16 xl:px-32">
      <app-catalogue-search-item [item]="o" [size]="'large'"></app-catalogue-search-item>
    </span>
  </ng-template>
</p-dataView>

<ng-template #noRecords>
  <div class="md:mx-4 lg:mx-16 xl:md-32">
    <div class="flex flex-col justify-center content-center items-center noContentWrap">
      <img src="assets/images/catalogue/missing.png" class="w-40 h-40 select-none">
      <span class="text-4xl text-gray-700 font-oswald flex flex-col justify-center content-center items-center">
        <div class="text-center select-none">{{ 'OOPS' | translate }}</div>
        <div class="text-center select-none">{{ 'CATALOGUE_CANT_FIND' | translate }}</div>
      </span>
    </div>
  </div>
</ng-template>