<section class="section" style="overflow-x: hidden;">
  <div class="swiper-container no-control" [swiper]="config">
    <div class="swiper-wrapper slider">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <img [src]="slide.src" class="slide-img">
      </div>
    </div>

  </div>
  <div class="content-container">
    <div class="center-content">
      <div class="search-box" style="position: relative;">
        <input type="text" class="input-landing" pInputText [placeholder]="'VEHICLE_SEARCH' | translate" [(ngModel)]="searchQuery"  (keyup.enter)="search(0)"/>
        <i class="fas fa-2x fa-search input-search cp" (click)="search(0)"></i>
      </div>
    </div>
  </div>

  <div class="arrow" (click)="scrollToEl('header_00')">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

<section id="header_00" class="presentational-lg" style="overflow-x: hidden;">
  <div class="banner">
    <div class="section-header px-3">
      <ng-container *ngTemplateOutlet="header"></ng-container>
    </div>
  </div>
  <div class="steps-lg">
    <div class="p-grid p-dir-col mx p-nogutter">
      <div class="p-col-12 p-sm-4 p-md-6 p-lg-6 mx" style="position: relative; padding: 0!important;" [ngsRevealSet]="{reset: true, origin: 'left', delay: 500 }" [ngsInterval]="250" [ngsSelector]="'.item'" [ngsReveal]="{reset: true, origin: 'left', delay: 500 }">
        <img src="assets/images/landing/car_search.jpg" class="search-img">
        <div class="imageText">
          <div class="item header-text">{{ 'LANDING_SECTION_ONE_HEADER' | translate }}</div>
          <div class="item header-text smaller">{{ 'LANDING_SECTION_ONE_HEADER_A' | translate }}</div>
        </div>
      </div>
      <div class="p-col-12 p-sm-8 p-md-6 p-lg-6 mx bg-svg" style="position: relative; padding: 0!important;">
        <mat-vertical-stepper id="vstep" [linear]="true" style="height: 100%;" class="matSteps" [ngsReveal]="{reset: true, origin: 'left', delay: 600 }">
          <mat-step [label]="'MANUFACTURER' | translate">
            <div class="ui-g" [style.min-height]="(height * 1.25) + 'px'">
              <div class="ui-g-12 ui-sm-8 ui-md-10 ui-lg-10">
                <app-manufacturer-prop #manufacturerProp (passSelectedManufacturer)="acceptSelectedManufacturer($event)" [manufacturerList]="manufacturers" [height]="height"></app-manufacturer-prop>

              </div>
            </div>
          </mat-step>
          <mat-step *ngIf="series" [label]="'SERIJA' | translate" >
            <div class="ui-g" [style.min-height]="(height * 1.25) + 'px'">
              <div class="ui-g-12 ui-sm-8 ui-md-10 ui-lg-10">
                <app-series-prop (passSelectedSeries)="acceptSelectedSeries($event)" [seriesList]="series" [height]="height"></app-series-prop>
              </div>
            </div>
          </mat-step>
          <mat-step *ngIf="models && models.length > 0" [label]="'MODEL' | translate" >
            <div class="ui-g" [style.min-height]="(height * 1.25) + 'px'">
              <div class="ui-g-12 ui-sm-8 ui-md-10 ui-lg-10">
                <app-model-prop (passSelectedModel)="acceptSelectedModel($event)" [modelList]="models" [height]="height"></app-model-prop>
              </div>
            </div>
          </mat-step>
        </mat-vertical-stepper>
        <button mat-fab color="accent" class="ctaButton" (click)="search(1)" *ngIf="selectedManufacturer && selectedSeries" [@fadeInRightOnEnter] [@fadeOutLeftOnLeave]>
          <span class="fa-stack">
            <i class="fas fa-car pl-1 fa-stack-2x buynroll_deepGray"></i>
            <i class="fas fa-search fa-stack-1x fa-2x pr-2 fa-inverse"></i>
          </span>
        </button>
        <ngx-ui-loader [loaderId]="'vehicle'"></ngx-ui-loader>
      </div>
    </div>
  </div>
</section>



<ng-template #header>
  <div [ngsReveal]="{reset: true, origin: 'right', delay: 250  }" class="header-text">{{ 'LANDING_SECTION_ONE_HEADER' | translate }}</div>
  <div [ngsReveal]="{reset: true, origin: 'left', delay: 400 }" class="header-text smaller">{{ 'LANDING_SECTION_ONE_HEADER_A' | translate }}</div>
</ng-template>