<section style="overflow-x: hidden;">
  <div class="swiper-container no-control" [swiper]="config">
    <div class="swiper-wrapper slider">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <img [src]="slide.src" class="slide-img">
      </div>
    </div>

  </div>
  <div class="content-container">
    <div class="center-content">
      <div class="search-box">
        <input type="text" class="input-landing" pInputText placeholder="asdf" />
        <i class="fas fa-2x fa-search input-search"></i>
      </div>
    </div>
  </div>

  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
<section class="presentational" style="overflow-x: hidden;">
  <div  class="banner">
    <h3 class="px-3" style="color: aliceblue;">asdf</h3>
  </div>
</section>