<section class="section" style="overflow-x: hidden;">
  <div class="swiper-container no-control" [swiper]="config">
    <div class="swiper-wrapper slider">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <img [src]="slide.src" class="slide-img">
      </div>
    </div>

  </div>
  <div class="content-container">
    <div class="center-content">
      <div class="search-box">
        <input type="text" class="input-landing" pInputText placeholder="asdf" />
        <i class="fas fa-2x fa-search input-search"></i>
      </div>
    </div>
  </div>

  <div class="arrow" (click)="scrollToEl('header_00')">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

<section id="header_00" class="presentational-lg" style="overflow-x: hidden;">
  <div class="banner">
    <div class="section-header px-3">
      <ng-container *ngTemplateOutlet="header"></ng-container>
    </div>
  </div>
  <div class="steps-lg">
    <div class="p-grid p-dir-col mx p-nogutter">
      <div class="p-col-4 mx p-nogutter">
        <img [ngsReveal]="{reset: true, origin: 'left', delay: 500 }" src="assets/images/landing/car_search.jpg" class="search-img">
      </div>
      <div class="p-col-8 mx p-nogutter">
        <ng-container *ngTemplateOutlet="steps"></ng-container>
      </div>
    </div>
  </div>
</section>

<section class="presentational-sm" style="overflow-x: hidden;">
  <div class="banner">
    <div class="section-header px-3">
      <ng-container *ngTemplateOutlet="header"></ng-container>
    </div>
  </div>
</section>

<section class="presentational-sm" style="overflow-x: hidden;">
  <div class="steps-sm">
    <div class="p-grid p-dir-col mx p-nogutter">
      <div class="p-col mx p-nogutter">
        <ng-container *ngTemplateOutlet="steps"></ng-container>
      </div>
    </div>
  </div>
</section>


<ng-template #steps>
  <mat-vertical-stepper [ngsReveal]="{reset: true, origin: 'left', delay: 600 }">
    <mat-step [label]="'MANUFACTURER' | translate">
      {{ 'MANUFACTURER' | translate }}
    </mat-step>
    <mat-step [label]="'SERIJA' | translate">
      {{ 'SERIJA' | translate }}
    </mat-step>
  </mat-vertical-stepper>
</ng-template>

<ng-template #header>
  <div [ngsReveal]="{reset: true, origin: 'right', delay: 250  }" class="header-text">{{ 'LANDING_SECTION_ONE_HEADER' | translate }}</div>
  <div [ngsReveal]="{reset: true, origin: 'left', delay: 400 }" class="header-text smaller">{{ 'LANDING_SECTION_ONE_HEADER_A' | translate }}</div>
</ng-template>