@import "../../variables.scss";

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: $deepGray;
}
:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: $yellow;
}
:host ::ng-deep .mat-form-field-label {
  color: $lightGray;
}
:host ::ng-deep .mat-form-field-underline {
  background: $lightGray;
}
:host ::ng-deep .mat-input-element::placeholder {
  color: $silver;
}
:host ::ng-deep mat-form-field:first-child {
  color: $silver;
}
.mat-align {
  position: absolute;
  color: $lightGray;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding: 1rem;
}

:host ::ng-deep .mat-step-header .mat-step-icon-selected,
:host ::ng-deep .mat-step-header .mat-step-icon-state-done,
:host ::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: $yellow;
}
:host ::ng-deep .mat-stepper-vertical {
  height: 100%;
  font-size: 2em;
}
:host ::ng-deep .mat-vertical-content {
  padding: 0;
}

:host ::ng-deep .mat-stepper-horizontal {
  height: 100%;
  font-size: 2em;
}

:host ::ng-deep .mat-step-icon {
  width: 1.5em;
  height: 1.5em;
}
:host ::ng-deep .mat-stepper-vertical-line::before {
  border-left: 0;
}
:host ::ng-deep .mat-step-icon .mat-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
}

:host ::ng-deep .mat-step-text-label {
  font-size: 1.25em;
}

:host ::ng-deep .mat-fab .mat-button-wrapper {
  padding: 0;
}
@media only screen and (max-height: 1100px) {
  :host ::ng-deep .mat-stepper-vertical {
    height: 100%;
    font-size: 1em;
  }
  :host ::ng-deep .mat-vertical-stepper-header {
    padding: 12px 24px;
  }
}

.b-0 {
  border: 0;
}
.m-0 {
  margin: 0;
}
